.container-{
  width: 2000px;
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: #FBEEE6;
  }

body {
  background-image: url("../img/piggy.png");
  background-color: #cccccc;
}

#hide {
  display: none;
}

.panel {
  padding top: 30em;
  padding bottom: 30em;
  border-color:
    color: blue;
  text-align: center;
  font-style: bold;
}

.panel-header {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  background-color: #f7f7f7;
}

.well {
  height: 500px;
  width: 30%;
  background-color: #E6B0AA;
  margin-top: 1em;
  padding top: 3em;
  padding bottom: 3em;
  margin-right: 4em;
  color: #641E16;
  text-align: center;
  font-style: bold;
}

#test {
  border: #000 1px;
  padding: 10px 40px 40px 40px;
}

p {
  height: 75%;
  width: 75%;
}
