.container-{
  width: 2000px;
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: #FBEEE6;
  }
.panel-default{
  background-image: url("../img/wood.jpg");
  color: #E6B0AA;
  text-align: center;
  font-weight: bold;
  height: 40px;
  width: 100px;
}
.panel{
  background-image: url("../img/wood.jpg");
  color: #E6B0AA;
  text-align: center;
  font-weight: bold;
  height: 40px;
  width: 100px;
  margin-left: 10em;
  }

body {
  background-image: url("../img/piggy.png");
  background-color: #cccccc;
}

.col-md-2 {
  background-image: url("../img/wood.jpg");
  color: #E6B0AA;
  text-align: center;
  font-style: bold;
  padding-top: 2em;
  padding-left: 1em;
  margin-left: 39em;
  height: 100px;
  size: 70%;
}
.p{
  max-width: 200px;
}
.jumbotron{
  background-image: url("../img/wood.jpg");
  color: #E6B0AA;
  text-align: center;
  font-weight: bold;
}

.well {
  background-image: url("../img/wood.jpg");
  color: #E6B0AA;
  text-align: center;
  font-weight: bold;
  height: 250px;
  width: 70%;
  margin-left: 5em;
  margin-right: 5em
}

.btn {
  border-radius: 3em;
}
